.experience-page-container{
    padding-left: 40px;
    padding-right: 40px;
}

.job-list{
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
}

.job-card{
    max-width: 800px;
    right: 10px
}

.inline-text {
    display: inline-block;
}

.dialog {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    gap: 60px;
}