<div class="about-page-container">
    <h1>About Me 🤔</h1>
    <p>I don't know what to say about myself, so instead I'll share some of my favourite stuff.</p>
    <mat-tab-group class="tabs-container">
        <mat-tab label="Sounds">
            <app-favourite-sounds></app-favourite-sounds>
        </mat-tab>
        <mat-tab label="Movies">
            <h2 class="blue">My top favourite movies 🎥</h2>
        </mat-tab>
        <mat-tab label="Games">
            <h2 class="blue">My top favourite games 🎮</h2>
        </mat-tab>
    </mat-tab-group>
</div>

