.about-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.favourite-stuff-container {
    max-width: 800px;
    width: 80vw;
}

