<div class="education-page-container">
    <h1>Education 🎓</h1>
    <div class="education-list">
        <app-coloured-box [colour]="blue">
            <div class="dialog">
                <img src="assets/self_graduate.gif" alt="Corey in graduation cloak." class="bordered" height="200" width="200">
                <p>My education is pretty standard, I finished year 12 in 2016 and eventually got around to finishing my CS degree in 2023. I was always pretty good in school, but nothing beats real world experience!</p>
            </div>
        </app-coloured-box>
        <mat-card class="education-card zoom-in" *ngFor="let edu of educationList | sortEducationByDate;">
            <mat-card-header>
                <mat-card-title class="blue"><b>{{edu.institution}}</b></mat-card-title>
                <mat-card-subtitle>{{edu.qualification}} | {{edu.date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{edu.result}}</mat-card-content>
        </mat-card>
    </div>
    <button mat-raised-button color="primary" (click)="openBottomSheet()">View Education Docs</button>
</div>