<div class="loading-container" *ngIf="educationList.length === 0; else content">
    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>

<ng-template #content>
    <div class="education-page-container">
        <app-terminal-text [textList]="TerminalText"></app-terminal-text>
        <app-coloured-box [colour]="Blue">
            <div class="dialog">
                <img ngSrc="assets/sprites/self_graduate.gif" alt="Gif of Corey in graduation cloak." class="centred" height="160" width="160" priority>
                <app-animated-text [text]="Dialogue"></app-animated-text>
            </div>
        </app-coloured-box>
        <div class="education-list">
            <mat-card class="education-card zoom-in" *ngFor="let edu of educationList | sortEducationByDate;">
                <mat-card-header>
                    <mat-card-title><b>{{edu.institution}}</b></mat-card-title>
                    <mat-card-subtitle>{{edu.qualification}} | {{edu.date}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>{{edu.result}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <button mat-raised-button color="primary" (click)="openBottomSheet()">View Education Docs</button>
    </div>
</ng-template>