.header{
    margin: 0;
    padding: 0;
}

.header-spacer{
    flex: 1 1 auto;
}

.header-link{
    color: whitesmoke;
    margin-right: 20px;
}

.nav-bar-container{
    position: fixed;
    top: 64px;
    bottom: 0px;
    left: 0;
    right: 0;
    background: #eee;
    margin: 0;
    padding: 0;
}

.side-nav{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.nav-button{
    width: 100%;
}

.nav-content{
    margin-left: 40px;
}

.active{
    background-color: #63C5DA;
    text-decoration-color: antiquewhite;
}
