<main>
  <app-header></app-header>
  <mat-sidenav-container class="nav-bar-container">
    <mat-sidenav mode="side" opened>
      <div class="side-nav">
        <button mat-button class="nav-button" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</button>
        <button mat-button class="nav-button" routerLink="/experience" routerLinkActive="active">Experience</button>
        <button mat-button class="nav-button" routerLink="/education" routerLinkActive="active">Education</button>
        <button mat-button class="nav-button" routerLink="/projects" routerLinkActive="active">Projects</button>
        <button mat-button class="nav-button" routerLink="/contact" routerLinkActive="active">Contact Me</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="nav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>