<div class="home-page-container">
    <h1>Hello there! 👋</h1>
    <img src="/assets/self.gif" alt="A gif of Corey." class="home-img">
    <p>My name is <b>Corey Barr</b> and I am a software developer.</p>
    <p>I live in Canberra with my girlfriend and our beautiful retired greyhound named Dobby 🐶.</p>
    <p>Welcome to my site.</p>
    <div class="sound-list-container">
        <h2>My top 14 favourite sounds</h2>
        <ol class="sound-list">
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/guts.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/yoda.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/lego.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/blaster.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/darksouls.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/jill.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/bebop.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/ed.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/spider-man.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/deathnote.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/skyrim.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/pokemon.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/witcher3.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <audio controls class="audio-control">
                    <source src="/assets/sounds/dmc.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
        </ol>
    </div>
</div>
