<div class="home-page-container">
    <h1>Hello there! 👋</h1>
    <img src="/assets/self.gif" alt="A gif of Corey." class="home-img">
    <p>My name is <b>Corey Barr</b> and I am a software developer.</p>
    <p>I live in Canberra with my girlfriend and our beautiful retired greyhound named Dobby 🐶.</p>
    <p>Welcome to my site, you can find its source code <a href="https://github.com/coreybigboi/coreyBarrDev">here</a>.</p>
    <div class="sound-list-container">
        <h2>My top {{soundsList.length}} favourite sounds</h2>
        <ol class="sound-list">
            <li *ngFor="let sound of soundsList">
                <p>{{sound.title}}</p>
                <audio controls class="audio-control">
                    <source [src]="sound.filePath" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
        </ol>
    </div>
</div>
