p{
    text-align: center;
}

.home-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 650px;
}

.home-img{
    width: 200px;
    height: 200px;
}

.red{
    color:cornflowerblue;
}