<div class="loading-container" *ngIf="projects.length === 0; else content">
    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>

<ng-template #content>
    <div class="projects-page-container">
        <app-terminal-text [textList]="TerminalText"></app-terminal-text>
        <app-coloured-box [colour]="Blue">
            <div class="dialog">
                <img ngSrc="assets/cb_idle.gif" height="200" width="200"/>
                <app-animated-text [text]="Dialogue"></app-animated-text>
            </div>
        </app-coloured-box>
        <div class="project-list">
            <mat-card class="project-card zoom-in" *ngFor="let project of projects | sortProjectsByYear;">
                <a [href]="project.link" target="_blank"><img class="project-img" mat-card-image [ngSrc]="project.image" width="400" height="400"></a>
                <mat-card-header>
                    <mat-card-title><a [href]="project.link" target="_blank"><b>{{project.name}} ({{project.year}})</b></a></mat-card-title>
                    <mat-card-subtitle>{{project.techStack}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>{{project.description}}</mat-card-content>
            </mat-card>
        </div>
    </div>
</ng-template>