.coloured-box{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 2px solid slategray;
    border-radius: 10px;
    background-color: rgb(185, 215, 226);
}