/* You can add global styles to this file, and also import other style files */

html, body { max-height: 100vh; }
body { 
    padding: 0; 
    margin: 0; 
    font-family: 'Franklin Gothic Medium', Roboto, "Helvetica Neue", sans-serif; 
    font-size: large;
    background-color: rgb(26, 26, 26);
}

/* Element styling */
a {
  color: #2A00FF; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

a:hover {
  color: #ff8800; 
}

/* Custom CSS Classes */
.centred {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
    color: cornflowerblue;
}

.red {
    color: #ec0000;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-container {
  width: 100%;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.zoom-in {
  transition: transform 0.3s ease;
}

.zoom-in:hover {
  transform: scale(1.1);
}


