/* You can add global styles to this file, and also import other style files */

html, body { max-height: 100vh; }
body { 
    padding: 0; 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: larger;
    background-color: white;
}

/* Style for regular anchor links */
a {
  color: #007bff; /* Link color */
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Hover effect for anchor links */
a:hover {
  color: #0056b3; /* Change color on hover */
}

.blue{
    color: cornflowerblue;
}
